<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #3498db;">Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Presentacion</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card style="background-color: #f8f9fa; border: 1px solid #ced4da; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); overflow: hidden;">
    <div style="text-align: center; padding: 20px;">
        <img alt="image" src="assets/logo.png" style="width: 120px; height: 120px; border-radius: 50%; object-fit: cover; border: 5px solid #ffffff; background-color: #ffffff; margin-bottom: 20px;" />
        <h1 style="color: #495057; font-size: 28px; margin: 10px 0; font-weight: bold; letter-spacing: 1px;">Sismos</h1>
    </div>
    <div style="padding: 0 20px; background-color: #ffffff;">
        <h2 style="color: #495057; font-size: 20px; font-weight: bold; margin-top: 20px;">Presentado a</h2>
        <p style="color: #6c757d; font-size: 18px; margin-bottom: 20px;">Ing. Ricardo Santa</p>
        <h2 style="color: #495057; font-size: 20px; font-weight: bold; margin-top: 20px;">Integrantes</h2>
        <p style="color: #6c757d; font-size: 18px; margin-bottom: 10px;">Sara Cobaleda</p>
        <p style="color: #6c757d; font-size: 18px; margin-bottom: 20px;">Jaime Lemus</p>
    </div>
</ion-card>


</ion-content>