<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let earthquake of earthquakes?.features?.slice(0, 5)">
    <ion-card-header>
      <ion-card-title>Lugar: {{ earthquake.properties.place }}</ion-card-title>
      <ion-card-subtitle>Magnitud: {{ earthquake.properties.mag }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Fecha: {{ earthquake.properties.time | date:'yyyy-MM-dd HH:mm:ss' }}</p>
    </ion-card-content>
  </ion-card>
  

  
</ion-content>
